

ul {
    display: flex;
    list-style-type: none;
    margin: 2%;
    padding: 0;
    overflow: hidden;
    background-color: rgb(215, 224, 214);
    

  }

  ul.ints {
    display: flex;
    list-style-type: none;
    margin: 2%;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    line-height: 200%;
  }
  
  li.in {
    flex: 1;
    flex-direction: column;
  }

  li {
    flex: 1;
  }
  
  li a {
    display: flex;
    color: rgb(112, 209, 216);
    padding: 14px 16px;
    text-decoration: none;
    font-size: xx-large;
    font-family: "Lucida Handwriting";
   
    
  }

  a.in {
   
    color: blue;
    padding: 0px 0px;
    text-decoration: none;
    font-size:medium;
    font-family:'Courier New', Courier, monospace;
    
  }
  
  li a:hover {
    background-color: rgb(162, 162, 185);
  }

  img {
    clip-path: circle();
  }

  section.checkbox {
    display: flex;
    flex-direction: column;
    position: absolute; left: 60%; top: 20%;
  }

  h2.about {
    color:gray;
    
  }





  div.vert {
    border-left: 2px solid black;
    height:100%;
    position: absolute; left: 80%; top: 10.8%;
    min-width: 300px;
  }

  @media only screen and (max-width: 800px){
    
    section.checkbox {
      display: flex;
      flex-direction: column;
      position: absolute; left: 20%; top: 55%;
      
    }
    div.vert {
      transform: rotate(90deg);
      border-left: 2px solid black;
      height:100%;
      position: absolute; left: 80%; top: 10.8%;
      min-width: 300px;
    }
  }

  section.img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute; left: 0%; 
  }

progress {
  background-color: aqua;
}

#h2_in {
  display: flex;
  align-self: center;
}

#ex {
  font-weight: bold;
  color: rgb(189, 33, 46);
}