
#navbar {
  display:flex;
  background-color: rgba(41, 41, 41, 0.966);
}

#navele {
  list-style-type: none;
  flex: 10;
}
/**/
#navadd {
  font-size: xx-large;
  
  margin-left: 3%;
  margin-right: 3%;
  color: aliceblue;
}

#ints {
  line-height: 300%;
}

#in {
  list-style-type: "-  " ;
  font-size: large;
  
}



  img {
    clip-path: circle();
  }

  section.checkbox {
    display: flex;
    flex-direction: column;
    position: absolute; left: 60%; top: 20%;
    
  }

  h2.about {
    color:gray;
    
  }





  div.vert {
    border-left: 2px solid black;
    height:100%;
    position: absolute; left: 50%; top: 10.99%;
    min-width: 300px;
  }

  @media only screen and (max-width: 800px){
    
    section.checkbox {
      display: flex;
      flex-direction: column;
      position: absolute; left: 20%; top: 55%;
      
    }
    div.vert {
      transform: rotate(90deg);
      border-left: 2px solid black;
      height:100%;
      position: fixed; left: 30%; top: 15.8%;
      min-width: 300px;
    }
  }

  section.img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute; left: 0%; 
  }

progress {
  background-color: aqua;
}

#h2_in {
  display: flex;
  
}

#ex {
  font-weight: bold;
  color: rgb(189, 33, 46);
}